<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обучающее задание</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="head">
            <h1>Приветствие</h1>
        </div>
        <nav class="navigate">
            <ul>
                <li><a href="">Main</a></li>
                <li><a href="">О себе</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <menu></menu>
        <main></main>
        <aside></aside>
    </section>
    <footer>
        <div class="foot">
            <a href="">ФИО</a>
        </div>
    </footer>
</body>
</html>