<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обучающее задание</title>
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Приветствие</h1>
        <div class="container navigate-static">
            <nav>
                <ul>
                    <li class="current"><a href="#">Главная</a></li>
                    <li><a href="#">О себе</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="flex-container">
        <div class="flex-block">
            <menu>Левый сайд бар-меню</menu>
        </div>
        <div class="flex-block">
            <main>Основное окно</main>
        </div>
        <div class="flex-block">
            <aside>Правый сайд бар-список</aside>
        </div>
    </section>

    <footer>
        <div class="container">
            <a  href="#">ФИО</a>
        </div>
    </footer>
</body>
</html>