body{
    font-family: Helvetica, Arial, sans-serif;;
}

h1{
    font: small-caps 1.75em Georgia;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #575b45;
    padding: 15px 0;
}
h2{
    font-size: 1.5em ;
    padding: 15px 0;
}
a{
    text-decoration: none;
    cursor:pointer;
}
/*HEADER*/

header{
    width: 100%;
    text-align: center;
    min-height: 90px;
    background: linear-gradient(to bottom, #ec5d00 0%, #f8faa4 100%);
}
.navigate{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 37px;
    background: rgba(0, 0, 0, 0.45);
}
.navigate-static{
    position: static;
}
.navigate-fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navigate nav li{
    height: 37px;
    display: inline-block;
}
nav li a:hover{
    background: rgba(166, 166, 166, 0.45);
}
nav li a{
    font: caption;
    display: block;
    color: #ffffff;
    height: 37px;
    padding: 10px 30px;
    background: none;
}
/*
nav .current{
    display: none;
}*/

@media screen and (max-width: 640px){

}

/*MAIN*/
.flex-container{
    padding-top: 15px;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.flex-block{
    padding: 0 20px;

}
.left-block, .right-block{
    flex-basis: 25%;
    flex-shrink: 0;
}
/*FOOTER*/
footer{
    width: 100%;
    padding: 22px 0;
    min-height: 60px;
    background: linear-gradient(to top, #ec5d00 0%, #f8faa4 100%);
    text-align: center;
}
footer a{
    color: #000000;
}