<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обучающее задание</title>
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Приветствие</h1>
        <div class="mobile-icon">
            <div class="navigate navigate-static" id="head-navigate">
                <nav>
                    <ul>
                        <li class="current"><a href="#">Главная</a></li>
                        <li><a href="#">О себе</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="flex-container">
        <div class="flex-block left-block">
            <h2>Левый сайд бар-меню</h2>
            <menu>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante nunc, faucibus et faucibus vitae, luctus quis neque. Phasellus cursus, elit ut porttitor pretium, eros diam scelerisque mauris, ac feugiat nisl orci id enim. Proin sed tincidunt magna. Curabitur faucibus vestibulum consectetur. Nullam nunc risus, cursus non neque aliquam, euismod porta est. Nam vitae dui faucibus, sagittis dui at, lobortis nisi. Suspendisse ullamcorper leo libero, quis mattis nunc faucibus consequat. Quisque scelerisque efficitur enim at pellentesque. Integer quis arcu metus. Nulla dictum scelerisque ligula, id dictum metus blandit id.</menu>
        </div>
        <div class="flex-block">
            <h2>Основное окно</h2>
            <main>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante nunc, faucibus et faucibus vitae, luctus quis neque. Phasellus cursus, elit ut porttitor pretium, eros diam scelerisque mauris, ac feugiat nisl orci id enim. Proin sed tincidunt magna. Curabitur faucibus vestibulum consectetur. Nullam nunc risus, cursus non neque aliquam, euismod porta est. Nam vitae dui faucibus, sagittis dui at, lobortis nisi. Suspendisse ullamcorper leo libero, quis mattis nunc faucibus consequat. Quisque scelerisque efficitur enim at pellentesque. Integer quis arcu metus. Nulla dictum scelerisque ligula, id dictum metus blandit id.</main>
        </div>
        <div class="flex-block right-block">
            <h2>Правый сайд бар-список</h2>
            <aside>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante nunc, faucibus et faucibus vitae, luctus quis neque. Phasellus cursus, elit ut porttitor pretium, eros diam scelerisque mauris, ac feugiat nisl orci id enim. Proin sed tincidunt magna. Curabitur faucibus vestibulum consectetur. Nullam nunc risus, cursus non neque aliquam, euismod porta est. Nam vitae dui faucibus, sagittis dui at, lobortis nisi. Suspendisse ullamcorper leo libero, quis mattis nunc faucibus consequat. Quisque scelerisque efficitur enim at pellentesque. Integer quis arcu metus. Nulla dictum scelerisque ligula, id dictum metus blandit id.</aside>
        </div>
    </section>

    <footer>
        <a href="#">ФИО</a>
    </footer>
    <script src="apps/menu-sticked.js"></script>
</body>
</html>