.form-order table{
    margin: auto;
    min-width: 350px;
    text-align: left;
}
.form-order table td{
    vertical-align: middle;
}
.form-order table td+td{
    padding: 5px;

}
.form-order input, select, textarea{
    width: 100%;
    min-height: 20px;
    border-radius: 4px;
    margin-bottom: 7px;
}
.form-order input[type="radio"]{
    width: auto;
    height: 50px;
}
.form-order .radio_wrap{
    display: inline-block;
}
.form-order input+p{
    text-align: center;
    color: #959595;
}
.form-order select{
    height: 25px;
}
.form-order .submit{
    width: 130px;
    height: 25px;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 1.05em;
    cursor: pointer;
}