.form-order table{
    margin: auto;
    width: 100%;
    text-align: left;
}
.form-order table tr{
    border-bottom: 2px solid #eaeaea;
}
.form-order table td{
    vertical-align: middle;
}
.form-order .label{
    width: 145px;
}
.form-order table td+td{
    padding: 5px;

}
.form-order input, textarea{
    width: 100%;
    min-height: 20px;
    border-radius: 4px;
}
.form-order input[type="radio"]{
    width: auto;
    height: 50px;
}
.form-order .radio_wrap{
    display: inline-block;
}
.form-order input+p{
    text-align: center;
    color: #959595;
}
.form-order .hide{
    display: none;
}
.form-order .submit{
    width: 130px;
    height: 25px;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 1.05em;
    cursor: pointer;
}
.form-order input.error {
    border: 1px dotted #f00;
}
.form-order .load{
    z-index: 1000;
    width: 100%;
    min-height: 100%;
    background: rgba(254, 253, 255, 0.7) url("images/load.gif") 50% 50% no-repeat ;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}